.container-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.filter-list {
  margin-bottom: 20px;
}

.filter-list-items {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}


@media screen and (max-width: 768px) {
  .container-filter {
    flex-direction: column;
    justify-content: center;
  }
  .filter-list-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-button {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
}
