.featured-playlists {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.featured-playlists-message {
  width: 100%;
}

.featured-playlists-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
